body {
    color:white;
    background: black;
    margin: 5px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom:solid 2px rgb(222, 245, 123);
padding:  20px;
font-size: 32px;
color:rgb(189, 11, 243);
}
.chamada {
    background: rgb(195, 16, 250);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 40% ;

}

h1 { font-size: 33px;

    }
    p { font-size: 30px;

    }
    img{
        height: 200px;
    }
    .videos{
        display: flex;
        overflow-x:auto ;
        gap: 10px;
    }
    .categoria{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
    }

    .videos img{
        opacity: 0.5;
        height: 200px;
    }
    .videos img:hover{
        opacity: 1.0;
        border: 3px solid rgb(228, 23, 159);
    }

    .categoria h2{
     color: rgb(198, 10, 245); 
    }